#root {
    position: absolute;
    inset: 0;
    background: black;
}
  
#root canvas {
    width: 100%;
    height: 100%;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 0.25em white;
    font-size: 30px;
}